# macOS
.DS_Store
# node
node_modules
# yarn2
.yarn
.pnp.cjs
.pnp.loader.mjs
static/dist
.env
junit.xml
coverage
*.private.env.json
build
.next
.notes.md

# Vercel CLI project link
.vercel

# Local VS Code workspace settings
*.code-workspace

# Local environment variables (Safety first!)
.env.local
# Local settings
*.code-workspace
.env.local
